# MANAGED BY CHEZMOI! EDIT ONLY WITH: chezmoi edit
# user additions go in ~/.gitconfig

[user]
    name = {{ .name | quote }}
    email = {{ .email | quote }}
    signingKey = {{ .git.signingKey | quote }}

{{ include "dot_config/git/config.common" }}

{{- if .isWsl }}

# WSL-specific settings
[core]
    sshCommand = ssh.exe
{{- end }}

{{- if eq .chezmoi.os "linux" }}

{{ include "dot_config/git/config.linux" }}
{{- end }}

{{- if eq .chezmoi.os "darwin" }}

{{ include "dot_config/git/config.darwin" }}
{{- end }}
