# These are downloaded and extracted automatically

# Tmux Plugin Manager
[".config/tmux/plugins/tpm"]
    type = "git-repo"
    url = "https://github.com/tmux-plugins/tpm"
    refreshPeriod = "168h"

# Common tmux plugins
[".config/tmux/plugins/tmux-sensible"]
    type = "archive"
    url = "https://github.com/tmux-plugins/tmux-sensible/archive/master.tar.gz"
    stripComponents = 1
    refreshPeriod = "168h"

[".config/tmux/plugins/tmux-resurrect"]
    type = "archive"
    url = "https://github.com/tmux-plugins/tmux-resurrect/archive/master.tar.gz"
    stripComponents = 1
    refreshPeriod = "168h"

[".config/tmux/plugins/tmux-continuum"]
    type = "archive"
    url = "https://github.com/tmux-plugins/tmux-continuum/archive/master.tar.gz"
    stripComponents = 1
    refreshPeriod = "168h"
