# MANAGED BY CHEZMOI! EDIT ONLY WITH: chezmoi edit

# Source the secure auto-loader (sources all .sh files in conf.d with ownership check)
[[ -r "$HOME/.config/bash/conf.d/00-loader.sh" ]] && source "$HOME/.config/bash/conf.d/00-loader.sh"
