# MANAGED BY CHEZMOI! EDIT ONLY WITH: chezmoi edit

{{ include "private_dot_ssh/config.common" }}

{{- if eq .chezmoi.os "linux" }}

{{ include "private_dot_ssh/config.linux" }}
{{- end }}

{{- if eq .chezmoi.os "darwin" }}

{{ include "private_dot_ssh/config.darwin" }}
{{- end }}

# User-specific SSH config
{{- if fileExists (joinPath .chezmoi.homeDir ".ssh/config.local") }}
{{ include (joinPath .chezmoi.homeDir ".ssh/config.local") }}
{{- end }}
