{{- /* MANAGED BY CHEZMOI! EDIT ONLY WITH: chezmoi edit */ -}}

# Load tool configurations
[[ -r "./brew.sh" ]]     && source "./brew.sh"
[[ -r "./fd.sh" ]]       && source "./fd.sh"
[[ -r "./fzf.sh" ]]       && source "./fzf.sh"
[[ -r "./mise.sh" ]]      && source "./mise.sh"
[[ -r "./ripgrep.sh" ]]   && source "./ripgrep.sh"
[[ -r "./zoxide.sh" ]]    && source "./zoxide.sh"
[[ -r "./lazygit.sh" ]]   && source "./lazygit.sh"
